{
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "phpVersion": "7.3",
    "trailingCommaPHP": false
}
